In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [3]:
matches_df = pd.read_csv("matches.csv")

/tmp/ipykernel_194/2934712716.py:1: DtypeWarning: Columns (11,14,50,102,123,125,129,131,133,135,137,139,141,143,145,147,149,157,158,160,161,163,165,167,169,171,173,184,186,187,205,206) have mixed types. Specify dtype option on import or set low_memory=False.
  matches_df = pd.read_csv("matches.csv")

In [4]:
matches_df.head(10)

,id,home,away,date,year,time (utc),attendance,venue,league,part_of_competition,...,away_offsides,home_wonCorners,away_wonCorners,home_saves,away_saves,away_bench_14_num,away_bench_14,away_bench_14_minute,home_formation,away_formation
0,NaN,New England,San Jose,7/31/1996,1996,NaN,"12,871",Foxboro Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Dallas,Colorado,6/15/1996,1996,NaN,"9,704",Cotton Bowl,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Colorado,D.C. United,8/29/1996,1996,NaN,"6,368",Mile High Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,LA Galaxy,New England,8/8/1996,1996,NaN,"10,251",Rose Bowl,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,New England,D.C. United,7/20/1996,1996,NaN,"18,347",Foxboro Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,D.C. United,Colorado,9/21/1996,1996,NaN,"20,573",Robert F. Kennedy Memorial Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Tampa Bay,Columbus,6/22/1996,1996,NaN,"8,767",Houlihan's Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,LA Galaxy,Dallas,8/25/1996,1996,NaN,"19,279",Rose Bowl,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,D.C. United,Columbus,7/28/1996,1996,NaN,"11,173",Robert F. Kennedy Memorial Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,MetroStars,KC Wiz,6/26/1996,1996,NaN,"16,103",Giants Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Analyzing missing values in 'matches_df'
matches_missing = matches_df.isnull().mean() * 100

# Columns with a high percentage of missing values (threshold set at 60% for this analysis)
high_missing_columns = matches_missing[matches_missing > 60].index

# Removing columns with high percentage of missing values
matches_df_cleaned = matches_df.drop(columns=high_missing_columns)

# Identifying columns with mixed data types by checking for columns where more than one data type is present
mixed_type_columns = matches_df_cleaned.columns[matches_df_cleaned.apply(lambda col: len(col.dropna().map(type).unique()) > 1)]

# Display the columns with high missing values and mixed data types
high_missing_columns, mixed_type_columns

(Index(['referee', 'home_bench_8_num', 'home_bench_8', 'home_bench_8_minute',
        'home_bench_9_num', 'home_bench_9', 'home_bench_9_minute',
        'away_bench_8_num', 'away_bench_8', 'away_bench_8_minute',
        'away_bench_9_num', 'away_bench_9', 'away_bench_9_minute',
        'home_bench_10_num', 'home_bench_10', 'home_bench_10_minute',
        'home_starting_12_num', 'home_starting_12', 'home_starting_13_num',
        'home_starting_13', 'home_starting_14_num', 'home_starting_14',
        'away_starting_12_num', 'away_starting_12', 'away_starting_13_num',
        'away_starting_13', 'away_starting_14_num', 'away_starting_14',
        'away_starting_15_num', 'away_starting_15', 'home_starting_15_num',
        'home_starting_15', 'home_starting_16_num', 'home_starting_16',
        'home_starting_17_num', 'home_starting_17', 'home_starting_18_num',
        'home_starting_18', 'home_starting_19_num', 'home_starting_19',
        'home_starting_20_num', 'home_starting_20', 'home_starting_21_num',
        'home_starting_21', 'home_starting_22_num', 'home_starting_22',
        'home_bench_11_num', 'home_bench_11', 'home_bench_11_minute',
        'home_bench_12_num', 'home_bench_12', 'home_bench_12_minute',
        'home_bench_13_num', 'home_bench_13', 'home_bench_13_minute',
        'home_bench_14_num', 'home_bench_14', 'home_bench_14_minute',
        'away_starting_16_num', 'away_starting_16', 'away_starting_17_num',
        'away_starting_17', 'away_starting_18_num', 'away_starting_18',
        'away_starting_19_num', 'away_starting_19', 'away_starting_20_num',
        'away_starting_20', 'away_starting_21_num', 'away_starting_21',
        'away_bench_10_num', 'away_bench_10', 'away_bench_10_minute',
        'away_bench_11_num', 'away_bench_11', 'away_bench_11_minute',
        'away_bench_12_num', 'away_bench_12', 'away_bench_12_minute',
        'away_starting_22_num', 'away_starting_22', 'away_bench_13_num',
        'away_bench_13', 'away_bench_13_minute', 'away_bench_14_num',
        'away_bench_14', 'away_bench_14_minute'],
       dtype='object'),
 Index(['shootout', 'home_bench_4_num', 'away_bench_5_num'], dtype='object'))

In [6]:
matches_df_cleaned.head(10)

,id,home,away,date,year,time (utc),attendance,venue,league,part_of_competition,...,home_redCards,away_redCards,home_offsides,away_offsides,home_wonCorners,away_wonCorners,home_saves,away_saves,home_formation,away_formation
0,NaN,New England,San Jose,7/31/1996,1996,NaN,"12,871",Foxboro Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Dallas,Colorado,6/15/1996,1996,NaN,"9,704",Cotton Bowl,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Colorado,D.C. United,8/29/1996,1996,NaN,"6,368",Mile High Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,LA Galaxy,New England,8/8/1996,1996,NaN,"10,251",Rose Bowl,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,New England,D.C. United,7/20/1996,1996,NaN,"18,347",Foxboro Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,D.C. United,Colorado,9/21/1996,1996,NaN,"20,573",Robert F. Kennedy Memorial Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Tampa Bay,Columbus,6/22/1996,1996,NaN,"8,767",Houlihan's Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,LA Galaxy,Dallas,8/25/1996,1996,NaN,"19,279",Rose Bowl,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,D.C. United,Columbus,7/28/1996,1996,NaN,"11,173",Robert F. Kennedy Memorial Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,MetroStars,KC Wiz,6/26/1996,1996,NaN,"16,103",Giants Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
matches_df_cleaned.columns

Index(['id', 'home', 'away', 'date', 'year', 'time (utc)', 'attendance',
       'venue', 'league', 'part_of_competition',
       ...
       'home_redCards', 'away_redCards', 'home_offsides', 'away_offsides',
       'home_wonCorners', 'away_wonCorners', 'home_saves', 'away_saves',
       'home_formation', 'away_formation'],
      dtype='object', length=122)

In [8]:
columns_stats = matches_df.loc[:, 'home_possessionPct':'away_saves'].columns
stats_df = matches_df[columns_stats]
stats_df.head(-5)

,home_possessionPct,away_possessionPct,home_shotsSummary,away_shotsSummary,home_foulsCommitted,away_foulsCommitted,home_yellowCards,away_yellowCards,home_redCards,away_redCards,home_offsides,away_offsides,home_wonCorners,away_wonCorners,home_saves,away_saves
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7279,51%,49%,19 (7),12 (4),17.0,7.0,5.0,3.0,0.0,0.0,2.0,0.0,5.0,4.0,4.0,6.0
7280,49%,51%,12 (1),4 (1),13.0,11.0,2.0,2.0,0.0,0.0,3.0,0.0,7.0,1.0,0.0,1.0
7281,54%,46%,25 (8),11 (4),13.0,4.0,1.0,1.0,0.0,0.0,1.0,1.0,11.0,8.0,1.0,6.0
7282,64%,36%,19 (5),7 (4),10.0,10.0,1.0,1.0,1.0,0.0,1.0,2.0,9.0,7.0,4.0,5.0
7283,44%,56%,20 (6),18 (7),5.0,8.0,1.0,0.0,0.0,0.0,1.0,4.0,9.0,6.0,5.0,4.0

In [9]:
columns_lineup = matches_df.loc[:, 'home_starting_1_num':'away_bench_13_minute'].columns
lineup_df = matches_df[columns_lineup]
lineup_df.head(-5)

,home_starting_1_num,home_starting_1,home_starting_2_num,home_starting_2,home_starting_3_num,home_starting_3,home_starting_4_num,home_starting_4,home_starting_5_num,home_starting_5,...,away_bench_11,away_bench_11_minute,away_bench_12_num,away_bench_12,away_bench_12_minute,away_starting_22_num,away_starting_22,away_bench_13_num,away_bench_13,away_bench_13_minute
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7279,22.0,William Yarbrough,4.0,Danny Wilson,6.0,Lalas Abubakar,21.0,Bryan Acosta,66.0,Lucas Esteves,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7280,30.0,Maarten Paes,3.0,José Martínez,17.0,Nkosi Burgess,2.0,Edwin Munjoma,31.0,Nanú,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7281,1.0,Jonathan Bond,3.0,Derrick Williams,4.0,Séga Coulibaly,44.0,Raheem Edwards,2.0,Julián Araujo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7282,41.0,James Pantemis,4.0,Rudy Camacho,3.0,Kamal Miller,16.0,Joel Waterman,6.0,Samuel Piette,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7283,18.0,Andre Blake,4.0,Stuart Findlay,5.0,Jakob Glesnes,27.0,Kai Wagner,26.0,Nathan Harriel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
columns_info = list(matches_df.loc[:, 'id':'away_goal_scorers'].columns) + ['home_formation'] + ['away_formation']
matches_info_df = matches_df[columns_info]
matches_info_df.head(-5)

,id,home,away,date,year,time (utc),attendance,venue,league,part_of_competition,...,shootout,home_score,away_score,referee,home_goal_minutes,home_goal_scorers,away_goal_minutes,away_goal_scorers,home_formation,away_formation
0,NaN,New England,San Jose,7/31/1996,1996,NaN,"12,871",Foxboro Stadium,1996 MLS,Regular Season,...,NaN,2,0,Ruben Rodhas,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Dallas,Colorado,6/15/1996,1996,NaN,"9,704",Cotton Bowl,1996 MLS,Regular Season,...,4-2,1,1,Rich Grady,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Colorado,D.C. United,8/29/1996,1996,NaN,"6,368",Mile High Stadium,1996 MLS,Regular Season,...,NaN,1,2,Ali Saheli,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,LA Galaxy,New England,8/8/1996,1996,NaN,"10,251",Rose Bowl,1996 MLS,Regular Season,...,NaN,1,0,Esse Baharmast,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,New England,D.C. United,7/20/1996,1996,NaN,"18,347",Foxboro Stadium,1996 MLS,Regular Season,...,NaN,2,0,Kevin Stott,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7279,623437.0,Colorado Rapids,Orlando City SC,"Wednesday, July 13",2022,01:00,"12,538","Dick's Sporting Goods Park, Commerce City, CO",2022 Major League Soccer,Regular Season,...,False,1,1,NaN,65',Gyasi Zardes,22',Facundo Torres,4-1-4-1,4-4-1-1
7280,623436.0,FC Dallas,New York City FC,"Wednesday, July 13",2022,01:00,"13,656","Toyota Stadium, Frisco, TX",2022 Major League Soccer,Regular Season,...,False,0,1,NaN,NaN,NaN,29',Héber,4-2-3-1,3-5-2
7281,623438.0,LA Galaxy,San Jose Earthquakes,"Wednesday, July 13",2022,02:00,"18,453","Dignity Health Sports Park, Carson",2022 Major League Soccer,Regular Season,...,False,2,3,NaN,48': 88',Dejan Joveljic:Dejan Joveljic,13' PEN:14':40',Cristian Espinoza:Jeremy Ebobisse:Marcos Johan...,4-4-1-1,4-2-3-1
7282,623439.0,CF Montréal,Toronto FC,"Saturday, July 16",2022,23:30,"19,619","Stade Saputo, Montreal",2022 Major League Soccer,Regular Season,...,False,1,0,NaN,69' OG,Lukas MacNaughton,NaN,NaN,3-4-1-2,3-4-3
7283,623440.0,Philadelphia Union,New England Revolution,"Saturday, July 16",2022,23:30,"18,257","Subaru Park, Chester",2022 Major League Soccer,Regular Season,...,False,2,1,NaN,75':79' PEN,Mikkel Uhre:Dániel Gazdag,61',Gustavo Bou,4-2-3-1,4-2-3-1

It's not until 2012 that most of the columns are not empty and have additional information like the stats of the game or the line-up...
2008 is another season where we start to find some relevant stats about matches.
Somewhere in 2003 we start seeing more complete rows

In [12]:
# Assuming the DataFrame is named matches_df and the year column is 'Year'
recent_matches_df = matches_df[matches_df['year'] >= 2008]

In [15]:
# Calculate the percentage of missing values in each column
shortrecent_matches_df = recent_matches_df.isna().mean() * 100

# Identifying columns with more than 50% missing values as candidates for removal
columns_to_drop = shortrecent_matches_df[shortrecent_matches_df > 50].index.tolist()
columns_to_drop
# Display the columns suggested for removal and their missing percentage
shortrecent_matches_df[columns_to_drop].sort_values(ascending=False)

referee                 100.000000
home_bench_14           100.000000
home_starting_17        100.000000
home_starting_18_num    100.000000
home_starting_18        100.000000
                           ...
away_bench_8             80.763903
away_bench_8_minute      80.763903
home_bench_8_minute      79.833762
home_bench_8             79.833762
home_bench_8_num         79.833762
Length: 87, dtype: float64

In [17]:
# List all current columns in the 'matches_2008_onwards' DataFrame to decide which to retain
shortrecent_matches_df.columnstolist()

AttributeError: 'Series' object has no attribute 'columnstolist'

In [ ]:
def home_away_score(df, location):
    df = df['id', 'date', 'home', 'home_score', 'away', 'away_score']
    df['location']

In [3]:
events_df = pd.read_csv("events.csv")

In [25]:
# Filtering events that contain the word "penalty" in the 'Event' column
penalty_events_df = events_df[events_df['Event'].str.contains('penalty', case=False, na=False)]

# Display the first few rows of the filtered dataframe to understand how penalties are described
penalty_events_df.head()

          id Time                                              Event
1353  237750  44'  Chad Marshall commits a foul on Jeff Cunningha...
1354  237750  44'  Collin Samuel places the penalty kick with his...
1417  237750  76'  Goal!! Alejandro Moreno hits a very good right...
1629  237753  49'  That last goal was assisted by Jack Jewsbury (...
1631  237753  49'  Goal!! Ivan Trujillo hits a very good right fo...

In [26]:
penalty_events_df.value_counts()

id      Time    Event
478652  90'     Penalty Shootout begins MLS All-Stars 1, Real Madrid 1.                                                                                                                   2
533120  86'     Penalty conceded by Jordy Delem (Seattle Sounders FC) with a hand ball in the penalty area.                                                                               2
        87'     Goal!  Seattle Sounders FC 3, New England Revolution 3. Carles Gil (New England Revolution) converts the penalty with a left footed shot to the bottom left corner.       2
502620  42'     Goal!  Atlanta United FC 1, New York Red Bulls 1. Daniel Royer (New York Red Bulls) converts the penalty with a right footed shot to the high centre of the goal.         1
502625  90'+8'  Penalty conceded by Jimmy Maurer (FC Dallas) after a foul in the penalty area.                                                                                            1
                                                                                                                                                                                         ..
359737  20'     Penalty conceded by Paulo Nagamura (Sporting Kansas City) after a foul in the penalty area.                                                                               1
                Penalty Toronto FC. John Bostock draws a foul in the penalty area.                                                                                                        1
359732  90'+2'  Penalty conceded by Roy Miller (New York Red Bulls) with a hand ball in the penalty area.                                                                                 1
                Goal!  San Jose Earthquakes 2, New York Red Bulls 1. Chris Wondolowski (San Jose Earthquakes) converts the penalty with a right footed shot to the centre of the goal.    1
623484  60'     Goal!  LA Galaxy 1, Minnesota United FC 3. Marco Delgado (LA Galaxy) converts the penalty with a right footed shot to the bottom right corner.                            1
Name: count, Length: 5199, dtype: int64

In [35]:
# Creating a new column to classify if the penalty resulted in a goal
penalty_events_df['Outcome'] = penalty_events_df['Event'].str.contains('Outcome: goal', case=False, na=False)

# Display the modified dataframe to ensure the 'Outcome' column classifies the penalties correctly
penalty_events_df[['Event', 'Outcome']].head()

/tmp/ipykernel_96/1483992673.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penalty_events_df['Outcome'] = penalty_events_df['Event'].str.contains('Outcome: goal', case=False, na=False)

                                                  Event  Outcome
1353  Chad Marshall commits a foul on Jeff Cunningha...    False
1354  Collin Samuel places the penalty kick with his...    False
1417  Goal!! Alejandro Moreno hits a very good right...    False
1629  That last goal was assisted by Jack Jewsbury (...    False
1631  Goal!! Ivan Trujillo hits a very good right fo...    False

In [36]:
matches_df = pd.read_csv("matches.csv")

/tmp/ipykernel_96/2934712716.py:1: DtypeWarning: Columns (11,14,50,102,123,125,129,131,133,135,137,139,141,143,145,147,149,157,158,160,161,163,165,167,169,171,173,184,186,187,205,206) have mixed types. Specify dtype option on import or set low_memory=False.
  matches_df = pd.read_csv("matches.csv")

In [37]:
# Merging the penalty_events_df with matches_df to find match details for each penalty
penalty_match_details_df = penalty_events_df.merge(matches_df, on='id', how='left')

# Display the first few rows of the merged dataframe to review the combined information
penalty_match_details_df[['id', 'Event', 'Outcome', 'home', 'away', 'date', 'venue']].head()

,id,Event,Outcome,home,away,date,venue
0,237750,Chad Marshall commits a foul on Jeff Cunningha...,False,Columbus Crew SC,Toronto FC,"Saturday, March 29","MAPFRE Stadium, Columbus"
1,237750,Collin Samuel places the penalty kick with his...,False,Columbus Crew SC,Toronto FC,"Saturday, March 29","MAPFRE Stadium, Columbus"
2,237750,Goal!! Alejandro Moreno hits a very good right...,False,Columbus Crew SC,Toronto FC,"Saturday, March 29","MAPFRE Stadium, Columbus"
3,237753,That last goal was assisted by Jack Jewsbury (...,False,Sporting Kansas City,DC United,"Saturday, March 29",Community America Ballpark
4,237753,Goal!! Ivan Trujillo hits a very good right fo...,False,Sporting Kansas City,DC United,"Saturday, March 29",Community America Ballpark

In [38]:
penalty_match_details_df['Outcome'].value_counts()

Outcome
False    5202
Name: count, dtype: int64